<%inherit file="base.html"/>

<%block name="title">
${post.title}
</%block>

<%block name="header">
<header class="intro-header" style="background-image: url('/static/img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>${post.title}</h1>
                    <h2 class="subheading">${post.title}</h2>
                    <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span>
                </div>
            </div>
        </div>
    </div>
</header>
</%block>

<%block name="content">
<article>
    <div class="container" id="container">
        <div class="row">
            <div id="article" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                ${post.html}

                <div class="social-share1"></div>
            </div>
        </div>
    </div>

</article>


</%block>


<%block name="customerScript">


<script type="application/javascript">
    $(function () {
        var $config = {
            sites: ['qzone', 'qq', 'weibo', 'wechat', 'douban'], // 启用的站点
            disabled: ['google', 'facebook', 'twitter'] // 禁用的站点
        };
        $('img').width($('#article').width());

        $('pre').addClass("prettyprint");

        $('.social-share1').share($config);
    });
</script>
</%block>
