{% extends "base.html" %}
{% block content_title %}{% end %}
{% block content %}
   <section id="content" class="body">
    <h2 class="content-title">
        About
    </h2>
    <div class="highlight"><pre><span class="kd">var</span> <span class="nx">youpengfei</span><span class="o">=</span><span class="p">{</span>
    <span class="nx">skills</span><span class="o">=</span><span class="p">[</span><span class="s2">"java"</span><span class="p">,</span><span class="s2">"javascript"</span><span class="p">,</span><span class="s2">"python"</span><span class="p">,</span><span class="s2">"linux"</span><span class="p">,</span><span class="s2">"nginx"</span><span class="p">]</span>
    <span class="nx">sports</span><span class="o">=</span><span class="p">[</span><span class="s2">"pingpang"</span><span class="p">,</span><span class="s2">"basketball"</span><span class="p">]</span>
    <span class="nx">links</span><span class="o">=</span><span class="p">[{</span><span class="s2">"sina weibo"</span><span class="o">:</span><span class="s2">"http://weibo.com/youyoufrom2046"</span><span class="p">},</span>
          <span class="p">{</span><span class="s2">"github"</span><span class="o">:</span><span class="s2">"https://github.com/youpengfei"</span><span class="p">}</span>
    <span class="p">]</span>
    <span class="p">}</span>
</pre></div>
</section>
{% end %}
