{% extends "base.html" %}
        {% block body%}
    <section id="content" class="article content">
        <header>
            <h2 class="entry-title">
                <a href="/detail/1" rel="bookmark"
                   title="Permalink to my">{{ article["title"] }}</a></h2>

        </header>


        <div class="entry-content">
            {% autoescape None %}
            {{ article.content}}
        </div>
        <!-- /.entry-content -->
        <footer class="post-info text-muted">
            Posted on <abbr class="published" title="2010-12-03T10:20:00">
            {{ article["published"] }}
        </abbr>
            <address class="vcard author">
                by <a class="url fn" href="/author/peter.html">{{ article["author"] }}</a>
            </address>
            in <a href="/category/talk.html">talk</a> Tagged <a href="/tag/pelican.html">pelican </a><a
                href="/tag/publishing.html">publishing </a></footer>
        <!-- /.post-info -->
    </section>
{% end %}