<li>
    <article class="hentry">
        <header>
            <h2 class="entry-title">
                <a href="/detail/{{ entry["id"] }}" rel="bookmark" title="{{ entry["title"] }}">{{ entry["title"]
                }}</a></h2>
        </header>
        <footer class="post-info">
            <abbr class="published" title="2010-12-03T10:20:00"> 五 03 十二月 2010 </abbr>
            <address class="vcard author">By <a class="url fn" href="javascript:void(0)">尤鹏飞</a>
            </address>
        </footer>
        <!-- /.post-info -->
        <div class="entry-content"><p>{{ entry["brief"] }}</p></div>
        <!-- /.entry-content -->

        <div class="medium primary btn"><a href="/talk.html" rel="bookmark"
                                           title="Permalink to 我对编程学习的看法">Read more <i
                class="icon-arrow-right"></i></a></div>


        <div class="row tag-row">
            <span>Tagged as : </span>
            {% for tag in tags %}
            <a class="danger label" href="/tag/{{ tag }}">{{tag}}</a>
            {% end %}
        </div>


    </article>
</li>