{% extends "base.html" %}
{% block title %} {% endblock %}
{% block content %}        
<section id="content" class="body">    
    <h2 class="content-title">
        {{ page.title }}
        {% if page.translations %}
            <a href="{{ SITEURL }}/{{ page.url }}" class="btn btn-info xsmall">{{ page.lang or DEFAULT_LANG }}</a>
            {% for translation in page.translations %}
                <a href="{{ SITEURL }}/{{ translation.url }}" class="btn btn-info xsmall">{{ translation.lang }}</a>&nbsp;
            {% end %}
        {% endif %}
    </h2>
    {{ page.content }}
</section>
{% end %}
